.book-card {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,.1);
    transition: transform .2s ease;
}

.book-card:hover {
    transform: translateY(-5px);
}

.book-card img {
    width: 100%;
    height: 280px;
    object-fit: cover;
}

.book-info {
    padding: 12px;
}

.book-info h3 {
    font-size: 1rem;
    margin: 0 0 6px 0;
}

.autor {
    font-size: .9rem;
    color: #555;
}

.fecha {
    font-size: .8rem;
    color: #888;
}
#grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
}
.user-card {
    background: #b9b9b9;
    border-radius: 12px;
    padding: 16px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.user-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.12);
}

.user-card h3 {
    margin: 0;
    font-size: 1.1rem;
    color: #222;
}

.user-card p {
    margin: 0;
    font-size: 0.9rem;
    color: #555;
}

.btn {
    background-color: #4f6794;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}
.btn:hover {
    background-color: #353232;
}
.botones{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
h1 {
    text-align: center;
    color: #333;
    margin-top: 20px;
}